{% if address.marker is defined and address.marker == 'restaurant' %}
	<div itemscope itemtype="http://schema.org/Restaurant">
{% elseif address.marker is defined and address.marker == 'bar' %}
	<div itemscope itemtype="http://schema.org/BarOrPub">
{% elseif address.marker is defined and address.marker == 'cafe' %}
	<div itemscope itemtype="http://schema.org/CafeOrCoffeeShop">
{% elseif address.marker is defined and address.marker == 'fast-food' %}
	<div itemscope itemtype="http://schema.org/FastFoodRestaurant">
{% elseif address.marker is defined and address.marker == 'alcohol-shop' %}
	<div itemscope itemtype="http://schema.org/Winery">
{% elseif address.marker is defined and address.marker == 'grocery' %}
	<div itemscope itemtype="http://schema.org/GroceryStore">
{% elseif address.marker is defined and address.marker == 'museum' %}
	<div itemscope itemtype="http://schema.org/Museum">
{% elseif address.marker is defined and address.marker == 'art-gallery' %}
	<div itemscope itemtype="http://schema.org/ArtGallery">
{% else %}
	<div itemscope itemtype="http://schema.org/LocalBusiness">
{% endif %}

	<h1 itemprop="name">{{ address.name }}</h1>

	{% if ((address.adresse is defined) and (address.adresse != '')) or ((address.codePostal is defined) and (address.codePostal != '')) or ((address.ville is defined) and (address.ville != '')) %}
		<p class="postalAddress" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			{% if (address.adresse is defined) and (address.adresse != '') %}
				<span itemprop="streetAddress">{{ address.adresse }} </span>
			{% endif %}
			{% if (address.codePostal is defined) and (address.codePostal != '') %}
				<span itemprop="postalCode">{{ address.codePostal }} </span>
			{% endif %}
			{% if (address.ville is defined) and (address.ville != '') %}
				<span itemprop="addressLocality">{{ address.ville }}</span>
			{% endif %}
		</p>
	{% endif %}

	{% if (address.telephone is defined) and (address.telephone != '') %}
		<p itemprop="telephone">{{ address.telephone }}</p>
	{% endif %}

	{% if (address.url is defined) and (address.url != '') %}
		<p itemprop="url"><a href="{{ address.url }}">{{ address.name }}</a></p>
	{% endif %}

	{% if (address.prix is defined) and (address.prix != '') %}
		<p itemprop="priceRange">{{ address.prix }}</p>
	{% endif %}

	{% if ((address.origine is defined) and (address.origine != '')) or ((address.description is defined) and (address.description != '')) %}
		<blockquote class="review" itemprop="review" itemscope itemtype="http://schema.org/Review">
			{% if (address.description is defined) and (address.description != '') %}
				<p itemprop="reviewBody">
					{{ address.description|raw }}
					{% if (address.origine is defined) and (address.origine != '') %}
						<cite itemprop="author" itemscope itemtype="http://schema.org/Person">{{ address.origine }}</cite>
					{% endif %}
				</p>
			{% endif %}
		</blockquote>
	{% endif %}

	<p>{{ address.marker }}</p>
	<p>
		{{ address.latitude }}, {{ address.longitude }}
		<span itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
			<meta itemprop="latitude" content="{{ address.latitude }}" />
			<meta itemprop="longitude" content="{{ address.longitude }}" />
		</span>
	</p>
</div>
