<div class="small-12 columns categoryFilter">
	<span data-tooltip aria-haspopup="true" class="has-tip tip-top" title="Retirer les filtres" onclick="updateFilter('all')">
		<img class="circle-stroked" src="{{ asset('bundles/bonnesadresses/images/maki-icons/circle-stroked-18.png') }}">
	</span>
	{% for type in types %}
		<span data-tooltip aria-haspopup="true" class="has-tip tip-top" title="{{ type }}" onclick="updateFilter('{{ type }}')">
			<img class="{{ type }}" src="{{ asset('bundles/bonnesadresses/images/maki-icons/' ~ type ~ '-18.png') }}">
		</span>
	{% endfor %}
</div>

<script>
	function updateFilter(filter) {
		featureLayer.setFilter(function(f) {
			// If the data-filter attribute is set to "all", return
			// all (true). Otherwise, filter on markers that have
			// a value set to true based on the filter name.
			if (filter === 'all') {
				return true;
			} else {
				return f.properties['marker-symbol'] === filter;
			}
		});
		return false;
	}
</script>