{% extends '::base.html.twig' %}

{% block title %}{% if specificAddress is defined %}{{ specificAddress.name }} - {% endif %}Des bonnes adresses Parisiennes{% endblock %}

	{% block body %}
		<div class="small-8 columns">
			<div id="map"></div>
		</div>
		<div class="small-4 columns">
			<div id="content">
				<table>
					<tbody>
						{% if specificAddress is defined %}
							<tr><td>name</td><td>{{ specificAddress.name }}</td></tr>
							<tr><td>longitude</td><td>{{ specificAddress.longitude }}</td></tr>
							<tr><td>latitude</td><td>{{ specificAddress.latitude }}</td></tr>
						{% endif %}
					</tbody>
				</table>
			</div>
			<p>
				{% if lastmodification is defined %}
					Dernier commit le {{ lastmodification|date("d/m/Y") }} à {{ lastmodification|date("G:i") }} par
				{% endif %}
				<a href="https://plus.google.com/u/0/+LaurentGhirardotti?rel=author">LaurentGh</a>
			</p>
		</div>
	{% endblock %}

	{% block javascripts %}
		{{ parent() }}

        {% javascripts
            '%kernel.root_dir%/../components/jquery/jquery.min.js'
            '%kernel.root_dir%/../components/foundation/js/foundation.min.js'
			'@BonnesAdressesBundle/Resources/public/js/OpenLayers.js'
			'@BonnesAdressesBundle/Resources/public/js/mymap.js'
            filter='yui_js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

		<script>
			{% for address in addresses %}
				{% set url = url('bonnes_adresses_detailpage', {'name': address.slug}) %}
				{% if (specificAddress is defined) and (address.id == specificAddress.id) %}
					placeMySpecificMarkers({{ address.latitude }}, {{ address.longitude }}, '{{ address.name }}', '{{ url }}', '{{ address.id }}');
				{% else %}
					placeMyMarkers({{ address.latitude }}, {{ address.longitude }}, '{{ address.name }}', '{{ url }}', '{{ address.id }}');
				{% endif %}
			{% endfor %}
		</script>

	{% endblock %}
