{% extends '::base.html.twig' %}

{% block title %}{% if specificAddress is defined %}{{ specificAddress.name }} - {% endif %}{{ parent() }}{% endblock %}
{% block description %}{% spaceless %}
	{% if specificAddressComplete is defined %}
		{{ specificAddressComplete }}{% endif %}{% if (specificAddress is defined) and (specificAddress.description != "") %} - {{ specificAddress.description|truncate(100, true, '...') }}
	{% else %}
		Une sélection de mes adresses préférées à Paris. Restaurants, bars à vin, pubs, cafés...
	{% endif %}
{% endspaceless %}{% endblock %}


{% block body %}
	<div class="small-8 columns">
		<div id="map"></div>
	</div>
	<div class="small-4 columns">
		<form id="filter">
			<div class="row">
				<div class="small-12 columns">
					<input type="text" id="right-label" placeholder="Filtrer sur le nom">
				</div>
				{{ render(controller('BonnesAdressesBundle:AdresseType:filter', { 'max': 3 })) }}
			</div>
		</form>
		<div id="content">
			{% if specificAddress is defined %}
				{% include 'BonnesAdressesBundle:Default:detail.html.twig' with {'address': specificAddress} %}
			{% else %}
				<h1>Des bonnes adresses parisiennes</h1>
				<h2>Une sélection de mes adresses préférées à Paris. Restaurants, bars à vin, pubs, cafés...</h2>
			{% endif %}
		</div>
		<p>
			<small>{% if lastmodification is defined %}
				Dernier commit le {{ lastmodification|date("d/m/Y") }} à {{ lastmodification|date("G:i") }} par
			{% endif %}
			<a href="https://plus.google.com/u/0/+LaurentGhirardotti?rel=author">Laurent Ghirardotti</a></small>
		</p>
	</div>
{% endblock %}


{% block javascripts %}
	{{ parent() }}

	<script>
	// Provide your access token
	L.mapbox.accessToken = 'pk.eyJ1IjoibGF1cmVudGdoIiwiYSI6IjdveXNkOEUifQ.F7qS-bIlU5-e23HB-SBDpA';
	// Create a map in the div #map
	var map = L.mapbox.map('map', 'laurentgh.kfje8mf6').setView([48.853289, 2.348757], 12);
	var featureLayer = L.mapbox.featureLayer().addTo(map);
	
	// Add custom popups to each using our custom feature properties
	featureLayer.on('layeradd', function(e) {
	    var marker = e.layer,
	        feature = marker.feature;

	    // Create custom popup content
	    var popupContent =  '<a target="_blank" class="popup" href="' + feature.properties.slug + '">' +
	                            feature.properties.name +
	                        '</a><br>' +
							'<p>' + feature.properties.adresse + ', ' + feature.properties.codePostal + ' ' + feature.properties.ville + '</p>' +
							feature.properties.description;

	    // http://leafletjs.com/reference.html#popup
	    marker.bindPopup(popupContent,{
	        closeButton: false,
	        minWidth: 320,
			maxHeight: 400
	    });
	});
	
	featureLayer.setGeoJSON({{ points|raw }});
	
	map.featureLayer.on('click', function(e) {
        map.panTo(e.layer.getLatLng());
    });
	
	</script>
{% endblock %}
