<!DOCTYPE HTML>
<html>
	<head>
		<title>Des bonnes adresses Parisiennes</title>
		<meta name="description" content="Une sélection de mes adresses préférées à Paris. Restaurants, bars à vin, pubs, cafés..." />
		{% block stylesheets %}
            {% stylesheets
                '@BonnesAdressesBundle/Resources/public/css/style.css'
            %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}
	</head>
	<body>
		<div id="Map"></div>
		<div id="content"></div>

		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script src="/bundles/bonnesadresses/js/OpenLayers.js"></script>

		<script type="text/javascript">

		//http://stackoverflow.com/questions/9895951/how-to-display-multiple-markers-with-individual-framecloud-popups-in-openlayers

	        var map, mappingLayer, vectorLayer, selectMarkerControl, selectedFeature;

	        function onFeatureSelect(feature) {
	            selectedFeature = feature;
	            popup = new OpenLayers.Popup.FramedCloud("tempId", feature.geometry.getBounds().getCenterLonLat(), null, selectedFeature.attributes.Name, null, true);
	            feature.popup = popup;
	            map.addPopup(popup);
				$.post(
			        'address/' + feature.data.Id,
			        {id: feature.data.Id},
			        function(response){
						console.log(response);
			            if(response.id == feature.data.Id) {
							$('#content').empty();
							$.each(response, function( index, value ) {
								if(value == null) {
								} else {
									$('#content').append( '<br>' + index + ' : ' + value );
								}
							});
			            }
			        },
			        "json")
				console.log(feature.data.Id);
	        }

	        function onFeatureUnselect(feature) {
	            map.removePopup(feature.popup);
	            feature.popup.destroy();
	            feature.popup = null;
	        }

	        function init(){
	            map = new OpenLayers.Map('Map');
	            mappingLayer = new OpenLayers.Layer.OSM("Simple OSM Map");

	            map.addLayer(mappingLayer);
	            vectorLayer = new OpenLayers.Layer.Vector("Vector Layer", {projection: "EPSG:4326"});
	            selectMarkerControl = new OpenLayers.Control.SelectFeature(vectorLayer, {onSelect: onFeatureSelect, onUnselect: onFeatureUnselect});
	            map.addControl(selectMarkerControl);

				var s = new OpenLayers.Style({
				  'pointRadius': 10,
				  'externalGraphic': '/bundles/bonnesadresses/js/img/marker.png'
				});
				new OpenLayers.StyleMap(s);

	            selectMarkerControl.activate();
	            map.addLayer(vectorLayer);
	            center();
	        }

			// Centré sur Notre Dame de Paris
			function center() {
				map.setCenter(new OpenLayers.LonLat(2.3499021, 48.8529682).transform("EPSG:4326", map.getProjectionObject()), 13);
			}

			function placeMyMarkers(lat, lon, name, id) {
				var lonLat = new OpenLayers.Geometry.Point( lon, lat);
				lonLat.transform("EPSG:4326", map.getProjectionObject());
				var style = OpenLayers.Util.extend({
					externalGraphic : "/bundles/bonnesadresses/js/img/marker.png",
					pointRadius     : 20
				}, OpenLayers.Feature.Vector.style['default']);
				var randomFeature = new OpenLayers.Feature.Vector(lonLat, { Name: name, Id: id, Lon : lon, Lat : lat});
				vectorLayer.addFeatures(randomFeature);
			}

			init();
			{% for product in products %}
				placeMyMarkers({{ product.latitude }}, {{ product.longitude }}, '{{ product.name }}', '{{ product.id }}');
			{% endfor %}


	    </script>

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-50457724-1', 'desbonnesadresses.fr');
		  ga('send', 'pageview');
		</script>

	</body>
</html>
